label
  input(type="checkbox")
  .card
    .face.front
      .left
        .top
          .title 軟體應用工程師
          .name 許 顥 瀚
        .bot
          .egl-title Software AE
          .egl-name Hao-Han Hsu
      .middle
        hr
      .right
        .com-name 偲倢科技股份有限公司
        .com-eglname Smasoft Technology Co., Ltd.
        .info1
          .t T: 02-7723-8823 ext. 62
          .num(for="") 統編: 42823652
        .info2
          .f F: 02-7723-6623
          .m M: 0911-937160
        .mail h a o h a n . h s u @ s m a s o f t . c o m . t w
        .adress(for="") 115台北市南港區成功路一段32號6樓之5
        .web W e b s i t e : s m a s o f t - t e c h . c o m
    .face.back
      img(
        src="https://smasoft-tech.com/wp-content/uploads/2017/06/%E5%81%B2%E5%80%A2logo-02.png",
        alt=""
      )
